__pycache__
backend/api/nogas.db
backend/__pycache__
backend/api/__pycache__
.env
.env.*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example
frontend/.env
frontend/.env.*
!frontend/.env.example